<web-app>
<servlet> 
        <servlet-name>loginservlet</servlet-name> 
        <servlet-class>LoginServlet</servlet-class> 
   </servlet> 
   <servlet-mapping> 
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern> 
    </servlet-mapping> 
</web-app>